@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F68605;
}

button {
     background-color: transparent;
     border: 2px solid green;
     color: green;
     border-radius: 20px;
     padding: 10px 15px;
     transition: all .3s;
     cursor: pointer;
}
button:hover{
     background-color: green;
     color: white;
}
.main-logo {
     font-size: 30px;
     color: white;
     font-weight: 500;
}

.header .logo {
  height: 3rem;
}

.navbar {
     display: flex;
     align-items: center;
     gap: 70px;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: green;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #ffffff;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.main {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.main img {
     width: 60%;
}

.main-heading {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding-top: 100px;
}

.main-heading h1 {
     font-size: 35px;
     font-weight: 500;
}
.main-heading h1 span {
     color: green;
}
.main-heading p {
     width: 600px;
     text-align: justify;
     font-size: 18px;
     margin-top: 20px;
     line-height: 30px;
}

.main-heading img {
     width: 600px;
}















@media (max-width: 62em) {

     .header {
          display: flex;
          justify-content: space-between;
     }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #F68605;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateY(-100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .hero {
     width: 100%;
     margin: auto;
  }
  .gradient {
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding-left: 50px;
     justify-content: center;
     line-height: 0px;
   }

   .gradient h2 {
     font-size: 35px;
     font-weight: 600;
     color: white;
     margin-bottom: 0px;
     line-height: 40px;
   }

  
   .gradient h2 span {
     color: green;
   }

   .gradient p {
     margin-bottom: 0px;
     color: white;
     font-size: 15px;
     line-height: 20px;
    
   }

   .gradient button {
     background-color: white;
     border: none;
     color: #F68605;
     font-size: 18px;
     padding: 18px;
     border-radius: 50px;
     margin-bottom:10px;
     font-weight: 500;
   }

   .gradient img {
     width: 200px;
     border-radius: 50%;
     position: relative;

     left: 0;
   }

   .gradient .gr2-p {
     margin-top: 10px;
   }

   .gra-2 h2 {
     margin-bottom: 20px;
}
   .gra-2 p {
     margin-bottom: 20px;
}
   .gra-2 button {
     margin-bottom: 20px;
}

   
.para {
     width: 100%;
     height: 160vh;
     background-color: white;
}

.para p {
     margin: auto;
     width: 90%;
     font-size: 18px;
     line-height: 27px;
     text-align: justify;
}
.para p span {
     color: #57BA4E;
}

.footer {
     flex-direction: column;
     height: 100vh;
}

.top {
     flex-direction: column;
     padding: 15px;
}
.bottom p {
     padding: 10px;
     width: 95%;
}
}

/* Below 560px  */
@media (max-width: 380px) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }

  .para {
     width: 100%;
     height: 230vh;
     background-color: white;
}


.para {
     width: 100%;
     height: 230vh;
     background-color: white;
}

.para p {
     margin: auto;
     width: 90%;
     font-size: 18px;
     line-height: 27px;
     text-align: justify;
}
.para p span {
     color: #57BA4E;
}

.footer {
     flex-direction: column;
     height: 150vh;
}

.top {
     flex-direction: column;
     padding: 15px;
}

.bottom p {
     width: 95%;
     padding: 10px;
}
}